* {
    margin:0; 
    padding:0; 
}

/*code for the nav and main content*/

.hero {
    background-color: rgb(30, 32, 37);
    color: white;
}

.nav a {
    color:white; 
    text-decoration: none;
    font-size: 18px;
}

.headerlogo {
    font-size:24px;
    font-weight: bold; 
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 100px 0; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px; 
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 100px;
}

.intro {
    flex:1; 
    max-width: 21%;
}

.intro h1 {
    font-size: 48px;
    font-weight: bolder;
}

.intro p {
    padding:20px 0; 
    font-size: 18px;
    line-height: 25px; 
}

.intro button {
    border-style: none;
    outline-style: none;
    font-size: 18px;
    color: white;
    background-color: rgb(22, 112, 128);
    border-radius: 50px;
    padding: 15px 25px; 
}

/*
End of code for nav and main content
Start of code for information and photos 
*/

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; 
}

.information h2 {
    color: rgb(17, 16, 16);
    font-weight: bolder;
    font-size: 36px;
    margin:30px 0; 
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:0 20px 30px 20px;  
}

.information img {
    width: 500px;
}

.text {
    color: rgb(17, 16, 16); 
    font-size: 18px;
}

/* 
End of code for information and photos
Start of for quote section
*/

.quotesection {
    background-color:rgb(182, 182, 182) ;
    height:400px;  
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}
.quotesection p {
    font-size: 36px;
    font-weight:400; 
    font-style: italic;
    margin:20px 20px; 
    text-align: left;
}

.quotesection .author {
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
}

/* 
End of code for quote section 
Start of code for call to action
*/

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    height:400px; 
}

.container {
    background-color: rgb(22, 112, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1500px; 
    height: 100px;
    padding:30px; 
    border-radius: 20px;
    margin:0 20px; 
}

.calltext {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 18px;
}
.calltext h3{
    font-size:24px; 
}

.action button{
    background-color:rgb(22, 112, 128); 
    color: white; 
    outline-style:none; 
    border-style:solid; 
    border-color: white;
    border-radius: 50px;
    padding: 15px 25px; 
    font-size: 18px;
}

/* 
End of code for call to action
Start of code for footer
*/

.footer {
    background-color:rgb(30, 32, 37);
    color:white; 
    font-size: 18px;
    height:100px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


